<a href="https://colab.research.google.com/github/lucysigadah/moringa-data-science/blob/main/MORINGA_WK1_Variables%2C_Printing%2C_Comments%2C_Operators_and_Input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# STEP 1: PRINTING

In [1]:
# Example 1
#

print("I just ran my first Python code")

I just ran my first Python code

# CHALLENGES

In [ ]:
# Challenge 1:
# Let's now print out your name in the console of this cell.
# Replace the text "OUR CODE GOES HERE" with the code that you will write
# and do likewise to the following examples.
#

print("My name is Lucy Keah Sigadah")

My name is Lucy Keah Sigadah

In [ ]:
# Challenge 2:
# Let's print "I am a Moringa Data Science Student" below
#

print("I am a Moringa Data Science student")

I am a Moringa Data Science student

In [ ]:
# Challenge 3:
# Print out the sum of 44 and 22 below
# NB: We need to see 44 + 22 in our code
#

print("44 + 22")
print("66")

44 + 22
66

# STEP 2: COMMENTS

In [ ]:
# Programmers and Data Scientists use comments to explain what their code means. These comments are acually pieces of code that do not get translated by the computer. We will use them as helpful messages that we leave within our code.

# STEP 3: VARIABLES

In [ ]:
# This is simply a container that we can use to store a value.
# Example 1
# We store the value 10 in a variable p. In programming we say that "we are assigning the value 10 to p"
# Running this cell won't output anything. Why? You can discuss this with your peer.
# If you haven't figure it out, then go on to the next example and you'll know why
#

p = 10

In [ ]:
# Example 2
# So as to create a variable we use the equals sign; =, like in the example below.
# This sign is usually regarded to what is called an assignment operator.
# How do we say what is happening to 5 and x below? We've learned this in
# the previous example.
#

x = 5

# Because we have assigned the value 5 to x,
# we now need to print out and see whether x has that value.
# Lets print out x below this line using the print() function below
#

print("x = ", x)

x =  5

In [ ]:
# Example 3
# Nice, Work now on this challenge:
# Create a savings variable with the value 1000
#

savings = 1000

# Then print this savings variable below this line;

print("savings = ", savings)

savings =  1000

In [ ]:
# Example 4
# Now uncomment the below lines to print a,
# then later uncomment b = 5 and later uncomment print(b)
# Do note what happens
#

a = 10

print(a)

b = 5

print(b)

10
5

# CHALLENGES

In [ ]:
# Challenge 1
# Assign the book Harry Potter and the Deathly Hollows to the variable author
#

author = 'Harry Potter and the Deathly Hollows'
print("The author is:", author)

The author is: Harry Potter and the Deathly Hollows

In [ ]:
# Challenge 2
# Fix the following code the run the cell
#

# "Einstein" = 7_quote

quote_7 = 'Einstein'
print("The value of the variable is ", quote_7)

The value of the variable is  Einstein

In [ ]:
# Challenge 3
# Fix the following code the run the cell
#
# second number == 400;

second_number = 400
print("The value of the variable is:", second_number)

The value of the variable is: 400

# STEP 4: OPERATORS

In [ ]:
# Example 1
# In this section, we are going to use the variable a and b to perform
# some arithmetic operations. Variable values or the variables from the above cell are retained
# and can be used with the values that they were assigned to.
# We will learn more about this when we run the lines below.
# Let's run this cell once then
# Uncomment the lines below to see the effect for multiplication, division and substraction
#

print(a + b)

print(a * b)

print(a / b)

print(a - b)

15
50
2.0
5

In [ ]:
# Example 2
# What would happen if we assigned the value of a + b to a.
# Then try to come up with the answer in your mind
# before uncommenting the line below;
#

a = a + b

print(a)

15

In [ ]:
# Example 3
# Nice. Now we will introduce a rather unfamiliar operator that we normally use in python.
# This operator is called the increment operator
#

print("The value of a is:", a)
print("The value of b is:", b)

a += b

print(a)

# Try using the decrement operator below. The increment operator is -=

a -= b

print (a)

The value of a is: 15
The value of b is: 5
20
15

In [ ]:
# Example 4
# Lets uncomment the lines below to Exponentiation and then
#

print(18 % 7)
print(4 ** 2)

4
16

# CHALLENGES

In [ ]:
# Challenge 1
# Three persons have three notes of Ksh.50, Ksh.100 and Ksh.500.
# Create three variables; person 1, person 2 and person 3 then
# Find out the average of their money and display it below.
#

person1 = 50
person2 = 100
person3 = 500

#METHOD 1
# avg = (person1 + person2 + person3) / 3

#METHOD 2
#avg = (person1/3) + (person2/3) + (person3/3)

#METHOD 3
sum = person1 + person2 + person3
avg = sum/3

print("The average of the money is:", avg)

The average of the money is: 216.66666666666666

In [ ]:
# Challenge 2
# An online shop sells designer jeans and t-shirts.
# Each jeans costs Ksh. 4500 and t-shirt costs Ksh. 2500.
# Calculate the cost below if you were to buy 3 pairs of jeans and 6 t-shirts
# using variables and operators.
#

jeans = 4500
tshirt = 2500
jeans_total = jeans * 3
tshirt_total = tshirt * 6
total_cost = jeans_total + tshirt_total
print("The total cost is:", total_cost)

The total cost is: 28500

In [ ]:
# Challenge 3
# We have Ksh 1000, which you invest with a 10% return each year.
# After one year, it's 1000 × 1.1 = 1100 shillings, and after two years
# it's 1000 × 1.1 × 1.1 = 121.
# Now, write code below to calculate how much money
# you would end up with after 7 years.
# How much is your Ksh. 1000 worth after 15 years?
# ----------
# Hint: Instead of calculating with the actual values, you can use variables instead.
# The savings variable you've created in the previous exercise represents the Ksh 1000 you started with.
# It's up to you to create a new variable to represent 1.1 and then redo the calculations!
# ----------

# We can recreate the savings variable that we will use below
#
savings = 1000
# and create a growth_multiplier variable that is equal to 1.1.
# Then create a result variable and equal it to the amount of money you saved after 7 years.
# Then print out the value of result below

investment_capital = 1000
growth_multiplier = (100 + 10)/100
savings_7years = investment_capital * growth_multiplier**7
print("The savings after 7 years will be:", savings_7years)

savings_15years = investment_capital * growth_multiplier**15
print("The savings after 15 years will be:", savings_15years)

The savings after 7 years will be: 1948.7171000000012
The savings after 15 years will be: 4177.248169415656

# STEP 5: INPUT

In [ ]:
# Example 1
# The input() function allows for user input as shown
#
g = input("Enter a number: ")

print (g)

g_as_integer = int(g)

result = g_as_integer + 2

print(result)

Enter a number: 10
10
12

In [ ]:
# Example 2
# Lets get the sum of two numbers from a user's input
#
x = input('Enter the first number: ')
y = input('Enter the second number: ')

x_as_integer = int(x)
y_as_integer = int(y)
result = x_as_integer + y_as_integer
print(result)

Enter the first number: 5
Enter the second number: 7
12

In [ ]:
# Example 3
# Let's get the name and age of the user
#

# Prompting the user to tell us their name and displaying their name
name = input("What's your name? ")
print("Nice to meet you " + name + "!")

# Prompting the user to tell use their age
age = input("Your age? ")

# Displaying both their name and age
# Hint: Try to remove str() and see what happens. We will learn more about datatype conversion later()
#
print("So, you are already " + str(age) + " years old, " + name + "!")

What's your name? Keah
Nice to meet you Keah!
Your age? 16
So, you are already 16 years old, Keah!

# CHALLENGES

In [ ]:
# Challenge 1
# Many people around the world think about their height in feet and inches
# even here in Africa where many countries use the metric system.
# Write a program reads the height in metres then converts it to
# feet and inches. The program should display the equivalent
# height in feet and height.
# NB: You can look up the necessary conversion factors on the web.
#

name = input("What is your name?")
print("Welcome, " + name + "!")

height = input("What is your height in metres?")
# 1 metre = 3.28084 feet
# 1 metre = 39.3701 inches
height_as_float = float(height)
height_in_feet = height_as_float * 3.28084
height_in_inches = height_as_float * 39.3701

print("Hi, " + name + "!" + " The following is your height in feet: You are " + str(height_in_feet) + " feet tall.")
print("Hi, " + name + "!" + " The following is your height in inches: You are " + str(height_in_inches) + " inches tall.")

What is your name?Lucy
Welcome, Lucy!
What is your height in metres?1.67
Hi, Lucy! The following is your height in feet: You are 5.4790028 feet tall.
Hi, Lucy! The following is your height in inches: You are 65.74806699999999 inches tall.

In [ ]:
# Challenge 2
# Given a certain column of data that has radius, a data scientist would like
# to compute the volume the respective cylinder and save the result to a new column.
# Thus, write a program that reads the radius of cylinder, along with its height
# from the user to calculate the volume in the console.
#

radius = input("Enter the radius: ")
height = input("Enter the height: ")

radius_as_float = float(radius)
height_as_float = float(height)

# Note that Pie = 3.14159
pie = 3.14159
# Also note that: Volume of a cylinder = pie * (radius ** 2) * height
volume_cylinder = pie * (radius_as_float ** 2) * height_as_float

print("The volume of the cylinder is: " + str(volume_cylinder) + " cubic metres.")

Enter the radius: 7
Enter the height: 10
The volume of the cylinder is: 1539.3790999999999 cubic metres.

In [ ]:
# Challenge 3
# While paying for her parking fee of Ksh. 50 , Jane inserts a Note into
# the paying machine and gets back her change.
# Write a program that reads as input the note greater than Ksh. 200
# and returns change in notes of 100 and 50.
# Use the knowledge of variables to printing, comments, operators
# and input to print the no of denominations given
#