<a href="https://colab.research.google.com/github/lucysigadah/moringa-data-science/blob/main/MORINGA_WK2_INDEPENDENT_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART 1: PYTHON PROGRAMMING

REQUIREMENTS:

You will write python code that performs the following procedures
 1. Delete a contact from the dictionary when the user specifies the its key
 2. Print out the first 2 contacts.
 3. Display the total no. of contacts left in the dictionary.
 4. Add 2 new contacts in the dictionary.
 5. Print out all the contacts.

In [1]:
contact_book = {'Parul' : 'parul@moringa.org',
 'Thomas' : 'thomas@moringa.org',
 'Ashley' : 'ashley@moringa.org',
 'Kellen' : 'kellen@moringa.org',
 'June' : 'june@moringa.org',
 'Joseph' : 'joe@moringa.org',
 'Lillian' : 'lillian@moringa.org',
 'Arnold' : 'arnold@moringa.org'
}

print(contact_book)

{'Parul': 'parul@moringa.org', 'Thomas': 'thomas@moringa.org', 'Ashley': 'ashley@moringa.org', 'Kellen': 'kellen@moringa.org', 'June': 'june@moringa.org', 'Joseph': 'joe@moringa.org', 'Lillian': 'lillian@moringa.org', 'Arnold': 'arnold@moringa.org'}

In [2]:
# 1. Delete a contact from the dictionary when the user specifies the its key

del contact_book['Parul']
print(contact_book)

{'Thomas': 'thomas@moringa.org', 'Ashley': 'ashley@moringa.org', 'Kellen': 'kellen@moringa.org', 'June': 'june@moringa.org', 'Joseph': 'joe@moringa.org', 'Lillian': 'lillian@moringa.org', 'Arnold': 'arnold@moringa.org'}

In [6]:
# 2. Print out the first 2 contacts

contact_list = list(contact_book.items())
print(contact_list[:2])

[('Thomas', 'thomas@moringa.org'), ('Ashley', 'ashley@moringa.org')]

In [8]:
# 3. Display the total no. of contacts left in the dictionary

print(len(contact_list))

7

In [9]:
#4. Add 2 new contacts in the dictionary

contact_book['Lucy'] = 'lucysigadah@gmail.com'
contact_book['Judith'] = 'judithosewe@gmail.com'
print(contact_book)

{'Thomas': 'thomas@moringa.org', 'Ashley': 'ashley@moringa.org', 'Kellen': 'kellen@moringa.org', 'June': 'june@moringa.org', 'Joseph': 'joe@moringa.org', 'Lillian': 'lillian@moringa.org', 'Arnold': 'arnold@moringa.org', 'Lucy': 'lucysigadah@gmail.com', 'Judith': 'judithosewe@gmail.com'}

In [11]:
# New number of items in the dictionary
print(len(contact_book))

9

In [12]:
# 5. Print out all the contacts

print(contact_book)

{'Thomas': 'thomas@moringa.org', 'Ashley': 'ashley@moringa.org', 'Kellen': 'kellen@moringa.org', 'June': 'june@moringa.org', 'Joseph': 'joe@moringa.org', 'Lillian': 'lillian@moringa.org', 'Arnold': 'arnold@moringa.org', 'Lucy': 'lucysigadah@gmail.com', 'Judith': 'judithosewe@gmail.com'}

# PART 2: SQL PROGRAMMING

In [13]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed.
%sql sqlite://

In [14]:
# Importing Pandas
import pandas as pd

In [15]:
# Loading our Cities dataset

with open('/content/GrandElectors_by_state.csv', 'r') as f:
  GrandElectors = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS GrandElectors;
%sql PERSIST GrandElectors;
%sql SELECT * FROM GrandElectors LIMIT 5;

 * sqlite://
Done.
 * sqlite://
(sqlite3.OperationalError) near "PERSIST": syntax error
[SQL: PERSIST GrandElectors;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
(sqlite3.OperationalError) no such table: GrandElectors
[SQL: SELECT * FROM GrandElectors LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [25]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

# Step 1: Load the CSV into a Pandas DataFrame
try:
    with open('/content/GrandElectors_by_state.csv', 'r') as f:
        GrandElectors = pd.read_csv(f, index_col=0, encoding='utf-8')
    print("DataFrame loaded successfully:")
    print(GrandElectors.head())
except Exception as e:
    print(f"Error loading CSV: {e}")
    raise

# Step 2: Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
print("Connected to in-memory SQLite database")

# Step 3: Write the DataFrame to an SQLite table
try:
    GrandElectors.to_sql('GrandElectors', conn, if_exists='replace', index=True)
    print("Table 'GrandElectors' created successfully")
except Exception as e:
    print(f"Error creating table: {e}")
    raise

# Step 4: Verify the table exists
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in database:", tables)

# Step 5: Create a SQLAlchemy engine for the in-memory database
engine = create_engine('sqlite://', creator=lambda: conn)
print("SQLAlchemy engine created for in-memory database")

# Step 6: Set %sql to use the SQLAlchemy engine
%sql {engine.url}
print("Set %sql to in-memory database via SQLAlchemy")

# Step 7: Query the table
%sql SELECT * FROM GrandElectors LIMIT 5;

DataFrame loaded successfully:
            GrandElectors
State
Alabama                 9
Alaska                  3
Arizona                11
Arkansas                6
California             55
Connected to in-memory SQLite database
Table 'GrandElectors' created successfully
Tables in database:             name
0  GrandElectors
SQLAlchemy engine created for in-memory database
Set %sql to in-memory database via SQLAlchemy
 * sqlite://
   sqlite:///:memory:
(sqlite3.OperationalError) no such table: GrandElectors
[SQL: SELECT * FROM GrandElectors LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [26]:
# Loading our Cities dataset
#
with open('/content/Population_by_state.csv', 'r') as f:
  Population = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Population;
%sql PERSIST Population;
%sql SELECT * FROM Population LIMIT 5;

 * sqlite://
   sqlite:///:memory:
Done.
 * sqlite://
   sqlite:///:memory:
(sqlite3.OperationalError) near "PERSIST": syntax error
[SQL: PERSIST Population;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
   sqlite:///:memory:
(sqlite3.OperationalError) no such table: Population
[SQL: SELECT * FROM Population LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [28]:
# 1. Join the 2 tables
# You notice States are not capitalized the same way in both tables (one is in uppercase
# letters, the other not), so you will first need to convert all to uppercase, for instance

%sql
SELECT lower('State') AS lower_case_state FROM Population

%sql
SELECT lower('State') AS upper_case_state FROM GrandElectors

SyntaxError: invalid syntax (ipython-input-28-43679356.py, line 6)