<a href="https://colab.research.google.com/github/lucysigadah/moringa-data-science/blob/main/MORINGA_WK1_INDEPENDENT_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART 2: PYTHON PROGRAMMING

REQUIREMENTS:

 1. Take in two values from a user (both in pounds) then convert those values to kilograms.

 2. Perform the sum of the values.

 3. Perform the average of the values.

 4. Find the difference between both values.  

 5. Find the quotient when one value is divided by the other.

 6. Determine and print out whether any of the numbers are even or add.

 7. Have comments applied appropriately.

In [ ]:
# Take in two values from a user (both in pounds) then convert those values to kilograms

weight_sack1 = float(input("Enter the weight of the first sack in pounds: "))
weight_sack2 = float(input("Enter the weight of the second sack in pounds: "))

# Weight conversion from pounds to kg
# 1 pound = 0.453592

weight_sack1_kg = weight_sack1 * 0.453592
weight_sack2_kg = weight_sack2 * 0.453592

print("The weight of the first sack in kilograms is: ", round(weight_sack1_kg, 3))
print("The weight of the second sack in kilograms is: ", round(weight_sack2_kg, 3))

Enter the weight of the first sack in pounds: 40
Enter the weight of the second sack in pounds: 35
The weight of the first sack in kilograms is:  18.144
The weight of the second sack in kilograms is:  15.876

In [ ]:
# Perform he sum of the values

sum_weights = weight_sack1_kg + weight_sack2_kg
print("The sum of the weights is: ", round(sum_weights, 3))

The sum of the weights is:  34.019

In [ ]:
# Perform the average of the values.

avg_weight = sum_weights / 2
print("The average weight is: ", round(avg_weight, 3))

The average weight is:  17.01

In [ ]:
# Find the difference between both values.

diff_weight = weight_sack1_kg - weight_sack2_kg
print("The difference between the weights is: ", round(diff_weight, 3))

The difference between the weights is:  2.268

In [ ]:
# Find the quotient when one value is divided by the other

quotient_weight = weight_sack1_kg / weight_sack2_kg
print("The quotient of the weights is: ", round(quotient_weight, 3))

The quotient of the weights is:  1.143

In [ ]:
# Determine and print out whether any of the numbers are even or add
if weight_sack1_kg % 2 == 0:
  print ("The weight of the first sack is an even number")
else:
  print("The weight of the first sack is an odd number")


if weight_sack2_kg % 2 == 0:
  print ("The weight of the second sack is an even number")
else:
  print("The weight of the second sack is an odd number")

The weight of the first sack is an odd number
The weight of the second sack is an odd number

# PART 3: SQL PROGRAMMING

 REQUIREMENTS:

 1. Display a list of Sub Counties and their population and areas.
 2. Sort the list of districts by total crop area (descending order).
 3. Select only the Sub counties from the Moroto district, order them alphabetically and show
 their production of sorghum.
 4. Compute the total Maize production per District.
 5. Compute the number of Sub counties where Maize is produced and the total Maize
 production per District.
 6. Compute the overall Crop area in all Sub counties where population is over 20000.
 7. Sort the Maize production in descending order by Districts, only taking into account Sub
 counties where Maize area is larger than Sorghum area, and display the number of Sub
 counties per district matching that criteria.

In [ ]:
# Display a list of Sub Counties and their population and areas
%load_ext sql
%sql sqlite://


import pandas as pd
import csv

In [ ]:
with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv', 'r') as f:
  Uganda = pd.read_csv(f, index_col = 0, encoding = 'utf-8')

Uganda.head(5)

,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
OBJECTID,,,,,,,,,,,,
263,KACHERI,KOTIDO,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900
264,KOTIDO,KOTIDO,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500
265,KOTIDO TOWN COUNCIL,KOTIDO,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268
266,NAKAPERIMORU,KOTIDO,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080
267,PANYANGARA,KOTIDO,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400

In [ ]:
%%sql
SELECT 'SUBCOUNTY_NAME', POP, Area FROM Uganda

Uganda

 * sqlite://
(sqlite3.OperationalError) no such table: Uganda
[SQL: SELECT 'SUBCOUNTY_NAME', POP, Area FROM Uganda

Uganda]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# Sort the list of districts by total crop area (descending order)
%%sql
SELECT 'DISTRICT_NAME' FROM Uganda
ORDER BY Crop_Area_Ha DESC

 * sqlite://
(sqlite3.OperationalError) no such table: Uganda
[SQL: SELECT 'DISTRICT_NAME' FROM Uganda
ORDER BY Crop_Area_Ha DESC]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum

%%sql
SELECT 'SUBCOUNTY_NAME', 'S_Prod_Tot' FROM Uganda
WHERE 'DISTRICT_NAME' = 'Moroto'
ORDER BY 'SUBCOUNTY_NAME' ASC

 * sqlite://
(sqlite3.OperationalError) no such table: Uganda
[SQL: SELECT 'SUBCOUNTY_NAME', 'S_Prod_Tot' FROM Uganda
WHERE 'DISTRICT_NAME' = 'Moroto'
ORDER BY 'SUBCOUNTY_NAME' ASC]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# Compute the total Maize production per District
%%sql

SELECT 'DISTRICT_NAME', 'M_Prod_Tot' FROM Uganda
GROUP BY 'DISTRICT_NAME'

 * sqlite://
(sqlite3.OperationalError) no such table: Uganda
[SQL: SELECT 'DISTRICT_NAME', 'M_Prod_Tot' FROM Uganda
GROUP BY 'DISTRICT_NAME']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# Compute the number of Sub counties where Maize is produced and the total Maize production per District

%%sql

SELECT COUNT ('SUBCOUNTY_NAME'), 'M_Prod_Tot' FROM Uganda
WHERE 'M_Prod_Tot' > 0
GROUP BY 'DISTRICT_NAME'

 * sqlite://
(sqlite3.OperationalError) no such table: Uganda
[SQL: SELECT COUNT ('SUBCOUNTY_NAME'), 'M_Prod_Tot' FROM Uganda
WHERE 'M_Prod_Tot' > 0
GROUP BY 'DISTRICT_NAME']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# Compute the overall Crop area in all Sub counties where population is over 20000

%%sql

SELECT SUM('Crop_Area_Ha') FROM Uganda
WHERE 'POP' > 20000

 * sqlite://
(sqlite3.OperationalError) no such table: Uganda
[SQL: SELECT SUM('Crop_Area_Ha') FROM Uganda
WHERE 'POP' > 20000]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
# Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria

 %%sql

SELECT COUNT('SUBCOUNTY_NAME'), 'DISTRICT_NAME' FROM Uganda
WHERE 'M_Area_Ha' > 'S_Area_Ha'
GROUP BY 'DISTRICT_NAME'
ORDER BY 'M_Prod_Tot' DESC

 * sqlite://
(sqlite3.OperationalError) no such table: Uganda
[SQL: SELECT COUNT('SUBCOUNTY_NAME'), 'DISTRICT_NAME' FROM Uganda
WHERE 'M_Area_Ha' > 'S_Area_Ha'
GROUP BY 'DISTRICT_NAME'
ORDER BY 'M_Prod_Tot' DESC]
(Background on this error at: https://sqlalche.me/e/20/e3q8)